/*-------------------------------------------------------------------------------
GÉNÉRIQUE 
--------------------------------------------------------------------------------*/

html{
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

/*-------------------------------------------------------------------------------
ÉLÉMENTS
--------------------------------------------------------------------------------*/

body{
    padding: 0;
    margin: 0;

    background-color: #eeeeee ;

    font-family:"Dosis", sans-serif;
}



/*-------------------------------------------------------------------------------
COMPENENTS
--------------------------------------------------------------------------------*/

/*wrapper*/

.wrapper{
    max-width:1280px;
    margin-left: auto;
    margin-right: auto;
}

/*header*/

.header{
    background-color: white;

    color: black; 

    padding-top: 35px;
    padding-bottom: 35px;

}

.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap:  40px ;
    
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;

}

.menu{
    display: flex;
    gap: 40px;

    
    list-style: none;
}

.menu a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    
    text-decoration: none;
}

.menu a:hover{
    background-color:#0E5EA1;
    border-radius: 5px;
    padding: 8px;
    color: white;
}

/*hero*/

.hero{
    background-image: url(../images/section.hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 135px;
    padding-bottom: 135px;

}

.hero .wrapper {
 display: flex;
 justify-content: center;
 text-align: center;
 
}

.boite{

 background-color: rgba(0, 0, 0, 50%);
 border-radius: 10px ;
 padding:50px 40px ;

 

 color: white;

}

/*Titre Activités*/

.titre_section{
    display: flex;
    align-items: center;
    padding-top: 55px ;
    

    color: #0E5EA1;
}

/*conteneur activités*/

.conteneur_activités{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    padding-bottom: 75px;
    
}

article{
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;

    border-bottom-color: #0E5EA1;
    border-bottom-width: 5px ;
    border-bottom-style: solid ;
}

article a{

    align-self: center;
    margin-top: auto;


    padding:10px 20px ;
    background-color:#D9D9D9;
    border-radius: 5px;

    text-decoration: none;
    color: black;


}


article a:hover{
    background-color: #0E5EA1;
    color: white;
}



/*footer*/

.footer{
    
    background-color: black;
    color: white;
    text-align: center;

    margin-top: 75px;
    padding-top:15px;
    padding-bottom: 15px;
}



